{% extends 'base_admin.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}
{% block breadcrumb_title %}Modifier le mot de passe{% endblock %}
{% block breadcrumb_content %}
<li class="breadcrumb-item"><a href="{{ path('account_admin_profile') }}" title="Profil">Profil</a></li>
<li class="breadcrumb-item active">Modifier le mot de passe</li>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 col-sm-8 col-md-5">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Définir un nouveau mot de passe</h3>
            </div>

            {{ form_start(form) }}
                <div class="card-body">
                    <div class="form-group">
                        {{ form_row(form.oldPassword) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.newPassword) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.confirmPassword) }}
                    </div>
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm">Modifier le mot de passe</button>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}