<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %} - SF5 STARTER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
    <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}" type="image/x-icon">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('plugins/fontawesome-free/css/all.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('css/adminlte.min.css') }}">
    <!-- Style perso -->
    <link rel="stylesheet" href="{{ asset('css/front.css') }}">
    {% endblock %}    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{{ path('front_index') }}">Symfony5 Starter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('front_index') }}" title="Accueil">Accueil</a>
                </li>
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('account_profile') }}" title="Profil">Profil</a>      
                </li>
                {% if is_granted('ROLE_MANAGER') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('dashboard_index') }}" title="Back-office">Back-office</a>      
                </li>
                {% endif %}                
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}" title="Déconnexion">Déconnexion</a>      
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}" title="Connexion">Connexion</a> 
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger text-center">
            {{ message }}
        </div>
    {% endfor %}
    
    {% block body %}{% endblock %}

{% block javascripts %}
<!-- jQuery -->
<script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
<!-- Bootstrap 4 -->
<script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- JS Perso -->
<script src="{{ asset('js/front.js') }}"></script>
{% endblock %}
</body>
</html>